[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-asyncio = "*"

[packages]
"discord.py" = "*"
aiohttp = "*"
unitypack = {git = "https://github.com/HearthSim/UnityPack"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
